<html>
	<head><title><h1>Page#about_me</h1></title></head>
<body>
<h2>Hi! I'm Vanessa :D</h2>
<p>
	<h3>Some facts about me:</h3>
	<ol>
  <li>1. I'm a 1st year IT student.</li>
  <li>2. I enjoy programming and watching Cricket :)</li>
  <li>3. I like to paint. </li>
  <li>4. My middle name starts with 'M'. </li>
</ol>

</p>
</body>
</html>
